/*.produkt {
	margin-left:85%;
}
Är till för att flytta stjärnor*/
.sliderubrik {
	text-align:center;
}

#ratingstar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* NEDAN ÄR KODEN FÖR INFORUTORNA PÅ RATINGSIDAN */

.ui-btn.my-tooltip-btn,        
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}


