/*.produkt {
	margin-left:85%;
}
Är till för att flytta stjärnor*/
.sliderubrik {
	/*text-align:center;*/
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#slidestar {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* NEDAN ÄR KODEN FÖR INFORUTORNA PÅ RATINGSIDAN */

.ui-btn.my-tooltip-btn,        
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}

.produkt {
	float:right;
}

#textarea-2 {
    border-style: solid;
    border-width: 2px;
    border-color: #E0E0E0;
    margin-top: -2%;
}

#inloggadtext {
    font-family: "Verdana", Times, sans-serif;
    font-size: 16px;
}



