#dropmenu {
	margin:0px;
	padding:0px;
	position:relative;
	float:right;
	bottom:50%;
	right:2%;
	z-index:2000;
}

#dropmenu ul {
	margin:0px;
	padding:0px;
}

#dropmenu li {
	list-style:none;
	float:left;
	position:relative;
}

#dropmenu ul li a {
	color:white;
	text-align:left;
	text-decoration:none;
	display:block;
}

#dropmenu ul ul {
	position:absolute;
	display:none;
	float:left;
	border: 1px solid #e7c0bb;
}

#dropmenu ul li:hover ul{
	display:block;
}

#dropmenu ul li ul {
	background-color:white;
	position:absolute;
	right:20%;
}

#dropmenu ul li ul li a{
	color:black;
	display:block;
	padding:10px 20px;
	color:#b03120;
}

#dropmenu ul ul {
	background: #5f6975; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	width:120px;
}
#dropmenu ul ul li {
	float: none; 
	border-top: 1px solid #e7c0bb;
	border-bottom: 1px solid #e7c0bb;
	position: relative;

}
#dropmenu ul ul li a {
	padding: 15px 40px;
	color: #fff;
	text-align:center;
}	
#dropmenu ul ul li a:hover {
	background: #e7c0bb;
	color:#ffffff;
}

/*
#dropmenuloggainknapp {
}

#dropmenuloggautknapp {
}
*/