.map_c{
	
	/*width:230px;*/
	width: 100%;
	height: 100%;
	position: relative;
	background: white;
	
}

.pins{
	border-radius: 50%; 
	background-color:orange; 
	width:30px; 
	height:30px;
	position: absolute;
}
/* TILLS ATT DET ÄR BESTÄMT MED HUR DET SKA SELECTAS*/

.pins:active{
	background-color: #E69400;
}



/* FÖR HALL0/ ALLA 3 Hallar*/
#pin01{
	top:75px; 
	left: 545px;
}
#pin02{
	top:180px; 
	left: 709px;
}
#pin03{
	top:339px; 
	left: 600px;
}
/* FÖR HALL 1/A*/
#pina1{
	top:225px; 
	left: 425px;
}
#pina2{
	top:210px; 
	left: 539px;
}
#pina3{
	top:222px; 
	left: 650px;
}
#pina4{
	top:313px; 
	left: 370px;
}
#pina5{
	top:309px; 
	left: 550px;
}
/* FÖR HALL 2/B*/
#pinb1{
	top:255px; 
	left: 397px;
}
#pinb2{
	top:267px; 
	left: 620px;
}
#pinb3{
	top:267px; 
	left: 708px;
}
#pinb4{
	top:255px; 
	left: 255px;
}
#pinb5{
	top:305px; 
	left: 775px;
}
/* FÖR HALL 3/C */

#pinc1{
	top:238px; 
	left: 355px;
}


/* POPUP FÖR UTSTÄLLARE */
.uPopUp{
	position: absolute;
	top: 30%;
	left: 30%;
	height: 300px;
	width: 200px;
	background-color: #fff;
	z-index: 6;
	padding: 10px;
	border: 1px solid #E6E6E6;
}

.utBilder{
	position: relative;
	background-color: white;
	height: 100px;
	width: 90%;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 50px;
	border: 1px solid #E6E6E6;
}
.close{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	top: -5px;
	left: 90%;
	background-color: #b03120;
	text-align: center;
	font-size: 25px;
	border: 2px solid #ff0000;
	color: white;
}

.sortiment{
	height: 20px;
	width: 110px;
	background-color: #b03120;
	border: 1px solid #E6E6E6;
	color: #fff;
	position: absolute;
	top: 88%;
	padding: 5px;
}

.logga{
	height: 50px;
	width: 90%;
	position: relative;
	background-color: #E6E6E6;
	text-align: center;
	font-size: 30px;
}